* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

body{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%); 
    width: 100vw;
    height: 100vh;
    background-size: cover ;
    background-repeat: no-repeat;
}

/*portrait track*/
#page-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none;
    z-index: 10;
}

#page-track > .country{
    display:flex;
}

#page-track > .country > .title{
    background-color: antiquewhite;
    writing-mode: vertical-lr;
}

#page-track > .country > .portrait {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

/*main content*/
#content{
    display: none;
    height: 100%;
    color:white;
    opacity: 0;
}

nav > ul{
    margin: 20px 0px;
    justify-content: center;
    display: flex;
    gap:3%;
}

nav > ul > li{
    width: 15vmin;
    padding: 2vmin;
    text-align: center;
    opacity: 0.3;
}

nav > ul > li:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.navSelected{
    opacity: 1;
    border-bottom: thick solid silver;
}

#content > div{
    display: none;
    padding: 1% 2%;
}

.sub-section{
    display:flex;
    width:200vw;
    height:80vh;
}

.sub-section > div{
    width: 100%;
}

#food, #landmarks{
    position: relative;
}

/*polaroid imgs*/
.polaroid-img{
    width: 25vmin;
    height: 30vmin;
    background-color: white;
    padding: 3% 3%;
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.polaroid-img > div >img{
    background-color: black;
    width: 25vmax;
    height: 25vmin;
    align-self:center; /*center img box*/
    /*center img*/
    left: 50%; 
    top: 50%;
    overflow: hidden;
}
.polaroid-img > div >img::after{
    content: "";
    display:block;
    padding-bottom: 100%;
}

.polaroid-img > p{
    color:black;
    text-align: center;
}

#left.polaroid-img{
    left: 10%;
    top: 20%;
    transform: rotate(50deg);
}
#middle.polaroid-img{
    left: 40%;
    top: 40%;
    transform: rotate(-20deg);
}
#right.polaroid-img{
    left: 70%;
    top: 10%;
    transform: rotate(-60deg);
}
